{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
    <section>  
        <div class="container">
            <div class="row">
                <div class = "col-12 mt-4 mb-4">
                    <h1 class="checkout-title">CHECKOUT</h1>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 col-lg-4">
                    <div class="card checkout-summary">
                        <div class="card-header">
                            <h5 class="customized-header">Order Summary</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <p class="order-price">Sub Total</p>
                                </div>
                                <div class="col-6">
                                    <p class="order-price float-right">{{ "$%.2f"|format(order.subtotal_cost) }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="order-price">Delivery</p>
                                </div>
                                <div class="col-6">
                                    <p class="order-price float-right">{{ "$%.2f"|format(order.delivery_cost) }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="total-price">Total</p>
                                </div>
                                <div class="col-6">
                                    <p class="total-price float-right">{{ "$%.2f"|format(order.total_cost) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class ="col-12 col-lg-8">
                    <div class="card checkout-info">
                        <div class="card-header">
                            <h5 class="customized-header">Contact & Shipping Details</h5>
                        </div>
                        <div class="shipping-summary">
                            <form method="POST">
                                {{ wtf.quick_form(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
